@import '../../../theme/colors.scss';

$markerWidth: 2rem;
$iconColor: $accent;

.marker {
  font-family: inherit;
  position: absolute;
  bottom: 0;
  user-select: none;
}

.pinContainer {
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  fill: $iconColor;
  font-size: $markerWidth;
  top: -$markerWidth;
  left: -$markerWidth / 2;
}

.label {
  position: absolute;
  bottom: -1rem;
  left: -5rem;
  width: 10rem;
  text-align: center;
  font-size: .9rem;
  text-shadow:
   -1px -1px 0 $translucentWhite,  
    1px -1px 0 $translucentWhite,
    -1px 1px 0 $translucentWhite,
     1px 1px 0 $translucentWhite;
}
