$smallPhone: 20rem; // 320px

$mediumPhone: 22.5rem; // 360px

$iPhone6: 23.4375rem; // 375px

$iPhone6Plus: 25.875rem; // 414px

$largePhone: 30rem; // 480px

$largerThanPhone: 30.01rem;

$tablet: 48rem; // 768px;

$largerThanTablet: 48.01rem;

$smallDesktop: 64rem; // 1024px

$mediumDesktop: 80rem; // 1280px

$largeDesktop: 90rem; // 1440px
