@import '../theme/snippets.scss';

.main {
  @extend %black-text;
  @extend %main-font;
  overflow-x: hidden;

  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
