@import '../../theme/breakpoints.scss';
@import '../../theme/colors.scss';
@import '../../theme/snippets.scss';

.avx-herowmom-hero {
  position: relative;
  // overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  min-height: 28rem;
}

.avx-herowmom-centerhero {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translate3d(0, 0, 0);
  z-index: 5;
}

.avx-herowmom-title {
  width: 100%;
  padding: 0.93rem 0 2.5rem 0;
  color: $white;

  @media screen and (min-width: $largerThanPhone) {
    padding: 0.25rem calc(50% - 13rem) 0.5rem calc(50% - 13rem);
  }

  @media screen and (min-width: $largerThanTablet) {
    padding: 0.25rem calc(50% - 16.67rem) 0.5rem calc(50% - 16.67rem);
  }

  h1,
  h4 {
    @extend %txt-light;
  }
}

.avx-herowmom-img {
  @extend %bgPicture;
}
